<div class="widget-wrap">
  <h3 class="widget-title">Menu</h3>
  <div class="widget">
    <ul class="category-list">
      <li class="category-list-item">
        <a href="<%- url_for() %>">Home</a>
      </li>
      <li class="category-list-item">
        <a href="<%- url_for('CONTRIBUTING.html') %>">번역 참여 가이드</a>
      </li>
      <li class="category-list-item">
        <a href="<%- url_for('about.html') %>">소개</a>
      </li>
      <li class="category-list-item">
        <a href="<%- url_for('categories/articles') %>">글 모음</a>
      </li>
      <li class="category-list-item">
        <a href="<%- url_for('categories/weekly') %>">주간 뉴스</a>
      </li>
      <li class="category-list-item">
        <a href="<%- url_for('archives') %>">보관함</a>
      </li>
      <li class="category-list-item">
        <a href="<%= config.github_url %>" target="_blank">GitHub project</a>
      </li>
    </ul>
  </div>
</div>
